<footer class="site-footer">
    <div class="wave-separator"></div>
    <div class="container wide">
        <div class="footer-inner-main container wide">
            <div class="kg-grid twothirds">
                <div class="kg-grid kg-grid-2col footer-nav">
                    {{navigation type="secondary"}}
                </div>
                <div class="legal">
                    {{!-- <h3 class="footer-group-header">Legal</h3> --}}
                    <a href="https://notbyai.fyi" referrerpolicy="strict-origin" rel="external" class="notbyai"><img src="/assets/images/Not-By-AI-Badge.svg" alt="Made by a human, not by AI."></a>
                    <div class="footer-copyright">
                        <p>© {{date format="YYYY"}} Jan Maarten. All Rights Reserved. </p>
                        <p>This site uses Plausible analytics which collects no personal data. </p>
                        {{!-- <p>Published with Ghost. </p> --}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>