{{!-- LOAD MORE --}}
<nav class="load-more">
    <button class="button button-secondary gh-loadmore round">{{t 'Load more'}}</button>
    {{#if secondLink}}
        <a class="button button-text gh-loadmore round" href="{{secondLink}}">{{secondText}}</a>
    {{/if}}
</nav>