/* demo banner */
.theme-option {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
    z-index: 10000;
    padding: 16px;
    border-radius: 1rem 0 0 0;
}

.theme-option-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.theme-item {
    padding: 12px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.theme-item + .theme-item {
    border-top: solid 1px var(--divider-color);
}

@media (max-width: 767px) {
    .demo-wrapper {
        gap: 24px;
    }
}


