{{!< default}}

<div class="content-area">
    <main class="site-main">
        
        {{> "page-header" showCount=false}}

        <section class="category-grid-container container medium">
            {{> "components/category-grid"}}
        </section>

        <section class="section-container small">
            {{#match @custom.feed_layout "Minimal"}}
                <div class="post-feed gh-feed container medium">
                    {{#foreach posts}}
                        {{> "loop" noDate=true}}
                    {{/foreach}}
                </div>
            {{else}}
                <div class="post-feed gh-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} container medium">
                    {{#foreach posts}}
                        {{> "loop" noDate=false}}
                    {{/foreach}}
                </div>
            {{/match}}
        </section>

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}