{{!-- Use this template if you want to show content of all post in one page --}}

{{!< default}}
<div class="content-area">
    <main class="site-main serie-page">
        
        {{> "page-header"}}

        {{#page}}
            <div class="gh-feed">
                {{#get "posts" filter="tags:[{{twitter_description}}]" include="tags" limit="100" order="published_at desc"}}
                    {{#foreach posts}}
                        <section class="section-container post-expanded">
                            <div class="single-content gh-content kg-canvas">
                                {{> "components/post-full" showTitle=false link=false}}
                            </div>
                            <div class="wrapper" data-width="medium">
                                <div class="wave-separator"></div>
                            </div>
                        </section>
                    {{/foreach}}
                {{/get}}
            </div>
        {{/page}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}