{{!< default}}

<div class="content-area custom-page">
    <main class="site-main">

        {{> "page-header"}}

        {{#post}}
            {{#if html}}
                <section class="blogroll-intro wrapper">
                    <div class="single-content gh-content">
                        {{content}}
                    </div>
                </section>
            {{/if}}
        {{/post}}

        {{#match @site.recommendations_enabled}}
            <section class="blogroll-list wrapper">
                {{recommendations limit="100" order="title asc"}}
            </section>
        {{/match}}

    </main>
</div>
