{{!< default}}

<div class="content-area custom-page">
    <main class="site-main" id="main">
        <div class="wrapper">
            <div class="error-content">
                <h1 class="h1 hero-header">404</h1>
                <p class="body-1 hero-desc">This page doesn't exist. It may have been moved or removed.</p>
                <p class="body-1 hero-desc">Try the <a href="/">homepage</a> or <a href="/blog/">writing</a>.</p>
            </div>
        </div>
    </main>
</div>
