{{!-- Use this template if you want to show content of all post in one page --}}

{{!< default}}
<div class="content-area">
    <main class="site-main serie-page overlay-timeline">
        
        {{#page}}
            <section class="container wide {{#if feature_image }}with-feature-image{{/if}}">
                <div class="hero-wrapper">
                    <h1 class="h1 hero-header">{{title}}</h1>
                    
                    <p class="body-1 hero-desc">A reverse-chronological record of headlines, events, and discourse about accessibility overlays/widgets and the companies who make them. </p>
                    <p class="body-1 hero-desc gh-content" style="margin-top:1rem">If something is missing, <a href="https://github.com/janmaarten-a11y/janmaarten.com/issues/2">submit a suggestion.</a> For general info about overlays, visit these sites:</p>
                    <ul class="gh-content" style="margin-top:1rem">
                        <li><a href="https://overlayfactsheet.com/en/">Overlay Fact Sheet</a></li>
                        <li><a href="https://shouldiuseanaccessibilityoverlay.com/">Should I Use An Accessibility Overlay</a></li>
                        <li><a href="https://overlayfalseclaims.com/">Overlay False Claims</a></li>
                    </ul>
                    
                </div>
                {{#if feature_image}}
                    <div class="media-wrapper">
                        <img 
                            src="{{img_url feature_image size="m"}}" 
                            alt="{{title}}
                            ">
                    </div>
                {{/if}}
            </section>
        {{/page}}
        {{#post}}
            {{> "content" width="wide"}}
        {{/post}}
        <div class="gh-feed">
            {{#foreach posts limit="50"}}
                <section class="section-container post-expanded">
                    <div class="single-content gh-content kg-canvas">
                        {{> "components/post-full" showTitle=false link=false}}
                    </div>
                    {{!-- <div class="container wide">
                        <div class="wave-separator"></div>
                    </div> --}}
                </section>
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}