{{!< default}}

{{#post}}{{#has tag="#long-form"}}<progress class="reading-progress" value="0" max="100" aria-label="Reading progress"></progress>{{/has}}{{/post}}
<main class="site-main">

    {{#post}}
        {{> "content" width="narrow"}}
    {{/post}}

    {{#is "post"}}
        {{#post}}
            {{> "comments"}}
        {{/post}}
        {{> "related-posts"}}
    {{/is}}

</main>