{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#is "post"}}
        {{#post}}
            <div id="webmentions" class="kg-canvas"></div>
            {{> "comments"}}
        {{/post}}
        {{> "related-posts"}}
    {{/is}}

</main>