{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="wide"}}
        <div id="webmentions" class="kg-canvas"></div>
        {{> "comments"}}
    {{/post}}

    {{> "related-posts"}}

</main>