:root {
    --brand-color: var(--ghost-accent-color, #6c49b6);
    --primary-text-color: hsla(214,70%,4%,0.92);
    --secondary-text-color: hsla(0,0%,2%,0.7);
    --tertiary-text-color: hsla(0,0%,2%,0.55);
    --diabled-background-color: var(--tertiary-text-color);
    --divider-color: rgb(0 0 0 / 10%);
    --input-background-color: rgb(0 0 0 / 8%);
    --hero-background-color: rgb(0 0 0 / 4%);
    --underline-color: #3120AA;
    --base-contrast: #fff;
    --background-color: #fff;
    --white-color: #fff;
    --black-color: #000;
    --green-color: #28a745;
    --orange-color: #ffc107;
    --red-color: #dc3545;
    --facebook-color: #3b5998;
    --twitter-color: #1da1f2;
    --rss-color: #f26522;
    --animation-base: ease-in-out;
    --font-base: 'Atkinson Hyperlegible',BlinkMacSystemFont,Segoe UI,Helvetica,Arial,Inter,sans-serif;
    --font-serif: 'Merriweather', Georgia, serif;
    --font-long-form: 'EB Garamond', Georgia, serif;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --navbar-height: 14rem;
    --form-input-height: 4rem;
    --base-text-size: 1.35rem;
    --spacepsection: 10.4rem;
    /* invert color */
    --primary-text-color-invert: rgb(250 250 250 / 95%);
    --secondary-text-color-invert: rgb(250 250 250 / 75%);
    --tertiary-text-color-invert: rgb(250 250 250 / 55%);
    --primary-text-color-overlay: hsla(214,70%,4%,0.92);
    --secondary-text-color-overlay: hsla(214,70%,4%,0.7);
    --tertiary-text-color-overlay: hsla(214,70%,4%,0.55);
    --divider-color-verlay: rgb(0 0 0 / 10%);
    --head-nav-gap: 2.4rem;
}

:root.has-light-text,
:root.dark-page {
    --primary-text-color: rgb(255 255 255 / 90%);
    --secondary-text-color: rgb(255 255 255 / 65%);
    --tertiary-text-color: rgb(255 255 255 / 45%);
    --darker-gray-color: var(--primary-text-color);
    --divider-color: rgb(255 255 255 / 12%);
    --input-background-color: rgb(255 255 255 / 8%);
    --hero-background-color: rgb(255 255 255 / 6%);
    --base-contrast: hsla(214,70%,4%,0.92);
}

.dark-page body {
    background-color: var(--black-color);
}

@media (max-width: 767px) {
    :root {
        --navbar-height: 12rem;
    }
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    color: var(--primary-text-color);
    font-family: var(--font-base);
    font-size: var(--base-text-size);
    line-height: 1.77;
    text-rendering: optimizeLegibility;
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-wrap: pretty;
}

body.with-custom-background {
    background-color: var(--background-color);
}

::selection {
    background: var(--ghost-accent-color);
    color:  var(--white-color);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.1s var(--animation-base);
}
a:hover,
a:focus {
    text-decoration: none;
}
a:not(.u-permalink):active,
a:not(.u-permalink):hover:active {
    background: var(--ghost-accent-color) !important;
    border-color: var(--ghost-accent-color) !important;
    color:#fff !important;
    opacity: 1;
}

.webring-nav a,
footer a,
a.post-tag {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.webring-nav a:hover,
footer a:hover,
a.post-tag:hover {
    text-decoration:underline;
    color: var(--underline-color);
}


header a:focus-visible,
footer a:focus-visible,
.webring a:focus-visible,
a.kg-bookmark-container:focus-visible,
a.u-permalink:focus-visible,
.kg-toggle-card-icon:focus-visible,
button.gh-burger:focus-visible {
    outline: 4px solid var(--ghost-accent-color);
    outline-offset: 4px;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--primary-text-color);
    font-family: var(--font-base);
    line-height: 1.25;
    font-weight: var(--font-weight-bold);
}
h1,
h2 {
    font-family: var(--font-serif);
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote:not([class]) {
    margin-right: 0;
    margin-left: 0;
    padding: 0 2.2rem;
    border-left: 2px solid var(--brand-color);
    color: var(--primary-text-color);
    font-size: var(--base-text-size);
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: -0.03rem;
}

blockquote:not([class]) strong {
    font-weight: 400;
    color: var(--primary-text-color);
}

ul,
ol {
    padding-left: 2rem;
}

iframe,
embed {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 0;
}

figure {
    margin-right: 0;
    margin-left: 0;
}

figcaption {
    margin-top: 1.5rem;
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}

figcaption a {
    color: var(--secondary-text-color) !important;
    font-weight: 400 !important;
}

pre {
    overflow-x: scroll;
    padding: 1.6rem 2.2rem;
    font-size: 1.6rem !important;
    line-height: 1.5;
    background-color: var( --lighter-gray-color);
    border-radius: 8px !important;
    -webkit-overflow-scrolling: touch;
}

hr {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-top: 1px solid;
    height: 1px;
}

table:not(.highlight) {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    word-break: normal;
}

table:not(.highlight) thead {
    background-color: var(--lighter-gray-color);
}

table:not(.highlight) tr + table:not(.highlight) tr {
    border-top: 1px solid var(--light-gray-color);
}

table:not(.highlight) tr:hover td {
    background-color: var(--lighter-gray-color);
}

table:not(.highlight) th,
table:not(.highlight) td {
    padding: 1rem 1.5rem;
    line-height: 1.5;
}

table:not(.highlight) th {
    text-align: left;
}

table:not(.highlight) tfoot {
    border-top: 1px solid var(--mid-gray-color);
}

table:not(.highlight) tfoot td {
    font-weight: 700;
}

@media (max-width: 767px) {
    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        padding: 1.2rem 0;
    }

    .table td {
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 0;
        width: 100%;
        text-align: right;
    }

    .table td::before {
        content: attr(data-label);
        margin-right: 1rem;
        color: var(--secondary-text-color);
        white-space: nowrap;
    }
}
