.hero-header {
    margin-bottom: var(--space-m);
    font-size: var(--size-step-4);
    line-height: 1.25;
}

.home-hero-header {
    margin-bottom: var(--space-xl);
    font-family: var(--font-serif);
    font-weight: var(--font-regular);
    text-transform: none;
    letter-spacing: 0;
    font-size: var(--size-step-3);
    line-height: var(--leading-fine);
}

.hero-desc {
    color: var(--secondary-text-color);
    font-size: var(--size-step-0);
    line-height: var(--leading-standard);
}

@media (max-width: 767px) {

}

@media (max-width: 991px) {
    .menu-opened .cover {
        margin-top: 0;
    }
}
