.site-footer {
    /* padding-top: 8rem; */
    padding-bottom: 2rem;
}

.footer-inner-main {
    padding: 6.4rem 0 6.4rem;
    align-items: flex-start;
}

.footer-copyright {
    padding-top: 1rem;
    color: var(--tertiary-text-color);
    line-height:32px;
    font-size: 1.1rem;
}
.footer-copyright p {
    padding-bottom: 1rem;
}
.footer-nav .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
}

.footer-nav .nav li {
    list-style-type: none;
    padding: 4px 0;
}

.footer-group-header {
    color: var(--tertiary-text-color);
}

.has-serif-body .footer-copyright,
.has-serif-body .footer-desc,
.has-serif-body .footer-nav .nav li {
    font-family: var(--font-serif);
}

@media (max-width: 767px) {
    .footer-inner-main {
        grid-template-columns: 1fr;
        padding-top: 3rem;
    }

    .footer-left {
        margin-bottom: 3rem;
    }

    .footer-right {
        align-items: flex-start;
    }
}

/* Custom */
.twothirds {
    grid-template-columns: 2fr 1fr;
}
.footer-group-header {
    font-size: 1.3rem; 
}

/* Webring */
.webring-nav {
    padding: 0;
    font-size: 1.2rem;
    list-style: symbols(cyclic "←" "?" "→");
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.webring-nav li {
    margin-left: 1.8rem;
    margin-top: 5px;
}
.webring-nav a:hover {
    text-decoration: underline;
    color: var(--ghost-accent-color);
}
.webring h2 {
    font-family: var(--font-base);
}
