.site-footer {
    /* padding-top: 8rem; */
    padding-bottom: var(--space-m);
}

.footer-divider {
    border-top: 1px solid var(--primary-text-color);
    opacity: 0.1;
}

.footer-inner-main {
    padding: var(--space-xl) 0 var(--space-m);
    align-items: flex-start;
}

.footer-copyright {
    padding-top: 0;
    padding-bottom: var(--space-m);
    color: var(--tertiary-text-color);
    line-height: 32px;
    font-size: var(--size-step-min-2);
}
.footer-copyright p {
    padding-bottom: 1rem;
}
.footer-nav .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
}

.footer-nav .nav li {
    list-style-type: none;
    padding: 4px 0;
}

.footer-group-header {
    color: var(--tertiary-text-color);
}

.has-serif-body .footer-copyright,
.has-serif-body .footer-desc,
.has-serif-body .footer-nav .nav li {
    font-family: var(--font-serif);
}

@media (max-width: 767px) {
    .footer-inner-main {
        grid-template-columns: 1fr;
        padding-top: 3rem;
    }

    .footer-left {
        margin-bottom: 3rem;
    }

    .footer-right {
        align-items: flex-start;
    }
}

/* Custom */
.twothirds {
    grid-template-columns: 2fr 1fr;
}
.footer-group-header {
    font-size: var(--size-step-min-1); 
}

/* Webring */
.webring {
    margin-bottom: var(--space-s);
}

.webring p {
    color: var(--secondary-text-color);
    margin-bottom: var(--space-xs);
}

.webring-nav {
    padding: 0;
    list-style: symbols(cyclic "←" "?" "→");
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
}
.webring-nav li {
    margin-left: 1.8rem;
}
.webring-nav a:hover {
    text-decoration: underline;
    color: var(--ghost-accent-color);
}
