#gh-head {
    background-color: transparent;
    height: var(--navbar-height);
}

.gh-outer {
    padding-left: 0;
    padding-right: 0;
}

.gh-head-inner {
    grid-template-columns: calc(100% - 10.8rem - var(--head-nav-gap)) auto;
    /* display: flex;
    gap: var(--head-nav-gap); */
}

.gh-head-nav {
    flex: 1 0 0;
}

.no-profile.gh-head-inner {
    grid-template-columns: 1fr;
}

.is-head-middle-logo .gh-head-inner {
    grid-template-columns: 1fr auto 1fr;
}

.gh-head-logo-text {
    font-weight: var(--font-weight-bold);
    height: 4rem;
}

.gh-head-logo-wrapper {
    position: relative;
    height: 100%;
    width: auto;
}

.gh-head-logo-wrapper img {
    height: 100%;
    margin: auto;
}

.head-logo-wrap:hover {
    opacity: 1;
}

.head-logo-wrap:hover .head-logo {
    scale: 1.06;
}

.head-logo {
    aspect-ratio: 1/1;
    position: relative;
    height: 10.8rem;
    transition: scale .15s var(--animation-base);
}

.gh-head-brand {
    margin-bottom: 2rem;
}

.gh-head-brand-wrapper {
    flex-direction: column;
    align-items: start;
    gap: .4rem;
}

.gh-head .nav {
    padding-right: 1.2rem;
}

.gh-head .nav li {
    position: relative;
}

.gh-head .nav li::after {
    background: var(--brand-color);
    bottom: -.1rem;
    content: "";
    display: block;
    height: .2rem;
    left: 50%;
    position: absolute;
    transition: width .25s ease 0s,left .25s ease 0s;
    width: 0;
}

.gh-head .nav li:hover::after {
    left: 0;
    width: 100%;
}

.gh-head .nav li:hover a {
    color: var(--brand-color);
}

.gh-head .nav li.nav-current::after {
    background: var(--brand-color);
    bottom: -.1rem;
    content: "";
    display: block;
    height: .2rem;
    left: calc(50% - 1rem);
    position: absolute;
    transition: width .25s ease 0s,left .25s ease 0s;
    width: 2rem;
}

.gh-head .nav li.nav-current a {
    color: var(--brand-color);
}

.gh-head-menu {
    gap: 0;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
}

.is-head-open .gh-head-menu .gh-search,
.is-head-open #gh-head .gh-head-actions {
    display: none;
}

.head-action-social {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.social {
    display: flex;
    align-items: center;
}

.social-item {
    color: var(--secondary-text-color);
    line-height: 0;
}

.social-item + .social-item-rss {
    margin-left: 24px;
}

.social-item .icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.social-item-rss .icon,
.gh-icon-btn .svg {
    width: 2rem;
    height: 2rem;
}

.gh-icon-btn svg {
    stroke: var(--primary-text-color);

}

.gh-dropdown {
    border-radius: 1.2rem 0 1.2rem 1.2rem;
    right: 16px;
    margin-top: .4rem;
    padding: 1.6rem 2rem;
    background-color: var(--base-contrast);

}

.gh-dropdown li a {
    padding-left: 0;
    padding-right: 0;
    color: var(--primary-text-color) !important;
}

.gh-head .nav .gh-dropdown li.nav-current:after {
    left: 0;
}

.gh-head .nav .gh-dropdown li::after {
    left: 0;
}

.has-serif-body .gh-head-menu .nav li,
.has-serif-body .gh-head-link,
.has-serif-body .gh-head-btn {
    font-family: var(--font-serif);
}


.gh-theme-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    scale: .75;
}

.theme-toggle-icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.moon-or-sun {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--secondary-text-color);
    background: var(--secondary-text-color);
    transform: scale(1);
    transition: all 0.45s ease;
    overflow: hidden;
}

.moon-or-sun::before {
    content: "";
    position: absolute;
    right: -9px;
    top: -9px;
    height: 24px;
    width: 24px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 50%;
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.45s ease;
}

.moon-or-sun::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 -23px 0 var(--secondary-text-color),
        0 23px 0 var(--secondary-text-color),
        23px 0 0 var(--secondary-text-color),
        -23px 0 0 var(--secondary-text-color),
        15px 15px 0 var(--secondary-text-color),
        -15px 15px 0 var(--secondary-text-color),
        15px -15px 0 var(--secondary-text-color),
        -15px -15px 0 var(--secondary-text-color);
    transform: scale(0);
    transition: all 0.35s ease;
}

.moon-mask {
    position: absolute;
    right: -9px;
    top: -8px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 0;
    background: var(--background-color);
    transform: translate(0, 0);
    opacity: 1;
    transition: background 0.25s ease, transform 0.45s ease;
}

/* Dark theme styles */
[data-theme="dark"] .moon-or-sun {
    transform: scale(0.55);
    overflow: visible;
}

[data-theme="dark"] .moon-or-sun::before {
    transform: translate(14px, -14px);
    opacity: 0;
}

[data-theme="dark"] .moon-or-sun::after {
    transform: scale(1);
}

[data-theme="dark"] .moon-mask {
    transform: translate(14px, -14px);
    opacity: 0;
}

@media (min-width: 992px) {
    .is-head-left-logo .gh-head-menu {
        margin: 0;
    }
}

@media (max-width: 767px) {
    #gh-head .gh-head-brand {
        height: 10.8rem;
    }
    #gh-head .nav {
        align-items: start;
    }
    #gh-head .gh-head-actions, #gh-head .gh-head-menu {
        justify-content: start;
    }
    .is-head-open:not(.is-head-brand):not(.is-head-dark):not(.is-head-transparent) #gh-head {
        background-color: var(--background-color);
    }
    .is-head-open:not(.is-head-brand):not(.is-head-dark):not(.is-head-transparent) #gh-head .head-separator {
        display: none;
    }
    .is-head-open #gh-head .gh-head-menu {
        padding-bottom: 4rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .gh-theme-toggle {
        scale: 1.125;
        margin-top: 1.6rem;
    }
    .gh-head-brand .gh-search {
        margin-right: 1.6rem;
    }
}