
{{#if @custom.selected_tags_on_tags_page}}
    {{#get "tags" filter="slug:[{{@custom.selected_tags_on_tags_page}}]" limit="100" include="count.posts"}}
        <div class="category-grid kg-grid kg-grid-4col tiny">
            {{#foreach tags}}
                {{> "components/category-card"}}
            {{/foreach}}
        </div>
    {{/get}}
{{else}}
    {{#get "tags" limit="8" include="count.posts" order="count.posts desc"}}
        <div class="category-grid kg-grid kg-grid-4col tiny">
            {{#foreach tags}}
                {{> "components/category-card"}}
            {{/foreach}}
        </div>
    {{/get}}
{{/if}}