.gh-comments.kg-canvas {
    margin-top:var(--space-3xl);
}
.gh-comments.kg-canvas h2 {
    font-size: var(--size-step-1);
}
.utterances {
    max-width: 860px;
  }

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--space-2xl) 0 var(--space-xl);
}


.comments-head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: var(--space-xl);
    width: 100%;
    max-width: 720px;
}

.comments h2 {
    width: 100%;
    max-width: 720px;
    font-weight: var(--font-bold);
    /* font-size: 3.4rem; */
}

.comments .comment-count {
    color: var(--color-midgrey);
    font-weight: var(--font-semi-bold);
    white-space: nowrap;
}

.comments #ghost-comments-root {
    width: 100%;
    max-width: 720px;
}

.comments-wrapper {
    margin-top: var(--space-2xl);
}

#ghost-comments-root .border-gray-100 {
    border-color: var(--divider-color) !important;
}

.comment-content {
    border-top: 2px solid var(--primary-text-color);
    padding: var(--space-2xl) 0 0;
}