.feed-header {
    margin-bottom: var(--space-l);
}

.feed-header.featured-header {
    margin-bottom: var(--space-3xs);
}

.feed-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--space-s);
}

.feed-header-title {
    margin-bottom: 0;
    color: var(--tertiary-text-color);
    font-weight: var(--font-regular);
    font-family: var(--font-display);
    text-transform: none;
    letter-spacing: 0;
    font-size: var(--size-step-2);
}

.post-feed {
    margin-top: calc(-1 * var(--space-m));
}

.post-feed.expanded {
    margin-top: calc(-1 * var(--space-l));
}

.post-feed.text-only {
    margin-top: calc(-1 * var(--space-l));
}

.feed {
    position: relative;
    display: flex;
    align-items: flex-start;
    /* overflow: hidden; */
    padding: var(--space-xs) 0;
    line-height: 1;
}

.feed:not(.no-link):hover .feed-title,
.card.post:not(.card-overlay):hover h3.card-title {
    text-decoration: underline;
    color:var(--ghost-accent-color);
}

.post-feed.expanded a.u-permalink:focus-visible {
    outline-offset: 6px;
 } 

.feed:not(.no-link):hover .feed-right {
    margin-right: var(--space-l);
}

.post-feed.expanded .feed:hover .feed-right {
    margin-right: 0;
}

.feed:not(.no-link):hover .feed-icon {
    transform: translateX(0.1rem);
}

.post-feed > .feed + .feed.feed-paged {
    margin-top: var(--space-l);
    border-top: 0;
}

.post-feed.expanded .feed {
    align-items: flex-start;
    padding: var(--space-l) 0;
}

.post-feed.expanded:not(.text-only) .feed {
    padding: 0;
    margin: var(--space-xl) 0;
    border-top: 0;
}

.post-feed.right-thumbnail .feed {
    flex-direction: row-reverse;
}

.feed-calendar {
    white-space: nowrap;
}

.experiences .feed-calendar {
    font-size: var(--size-step-min-1);
}

.post-feed.expanded .feed-calendar {
    margin-top: var(--space-xs);
}

.feed-calendar-month {
    margin-right: var(--space-s);
}

.reading-time, 
.feed-meta-tag {
    margin: var(--space-xs) 0 0 var(--space-xs);
    white-space: nowrap;
}

.reading-time::before,
.feed-meta-tag::before {
    content: "✦";
    font-size: .8em;
    padding: 0 var(--space-s);
}
.feed-image {
    flex-shrink: 0;
    margin-right: var(--space-l);
    width: 140px;
}

.post-feed.right-thumbnail .feed-image {
    margin-right: 0;
    margin-left: var(--space-l);
}

.post-feed:not(.expanded) .feed-image {
    display: none;
}

.feed-wrapper {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    align-self: stretch;
    align-items: self-end;
}

.post-feed.expanded .feed-wrapper {
    flex-direction: column;
}

.post-feed.expanded:not(.text-only) .feed-wrapper {
    margin-top: -2px;
}

/* .feed-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.feed-sub-title {
    color: var(--tertiary-text-color);
}

.post-feed.expanded .feed-title {
    font-size: var(--size-step-0);
    line-height: 1.4;
    font-weight: var(--font-bold);
    white-space: normal;
    font-family: var(--font-serif);
}

.dot-spacer {
    margin: 0 var(--space-xs) var(--space-s) var(--space-xs);
    align-self: end;
    height: 1px;
    border: 0;
    border-bottom: 1px dotted var(--divider-color);
    min-width: 1rem;
    display: flex;
    flex: 1 0 0;
}

.post-feed.expanded .dot-spacer {
    display: none;
}

.feed-excerpt {
    margin-top: var(--space-3xs);
    line-height: 1.5;
    color: var(--secondary-text-color);
}

.has-serif-body .feed-excerpt,
.has-serif-title .feed-title {
    font-family: var(--font-serif);
}

.post-feed:not(.expanded) .feed-excerpt {
    display: none;
}

.feed-right {
    display: flex;
    align-items: center;
    color: var(--ghost-accent-color);
    font-size: var(--size-step-min-1);
    margin-top: var(--space-3xs);
    transition: margin-right 0.2s var(--animation-base);
}

.feed-visibility {
    margin-right: var(--space-3xs);
    color: var(--orange-color);
    line-height: 0;
}

.post-feed.expanded .feed-visibility {
    order: 1;
    margin-left: var(--space-s);
}

.feed-visibility-public {
    display: none;
}

.feed-visibility .icon {
    width: 20px;
    height: 20px;
}

.feed-length {
    white-space: nowrap;
}

.post-feed.expanded .feed-length {
    display: flex;
    align-items: center;
}

.post-feed.expanded .feed-length::before {
    content: "\02022";
    padding: 0 0.7rem;
    font-size: 1rem;
    line-height: 1;
}

.feed-icon {
    position: absolute;
    right: 0;
    color: var(--secondary-text-color);
    line-height: 0;
    transition: transform 0.2s var(--animation-base);
    transform: translateX(2rem);
}

.post-feed.expanded .feed-icon {
    display: none;
}

.feed-icon .icon {
    width: 16px;
    height: 16px;
}

.feed-group::after {
    content: "";
    display: block;
    height: 4.5vmin;
}

.feed-month {
    position: sticky;
    top: 0;
    z-index: 30;
    margin: 0 calc(-1 * var(--space-m));
    padding: var(--space-s) var(--space-m);
    width: inherit;
    color: var(--primary-text-color);
    font-size: var(--size-step-min-1);
    font-weight: var(--font-extra-bold);
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
}

.feed-group:first-child .feed-month {
    display: none;
}

@media (max-width: 575px) {

    .feed-image {
        width: 120px;
    }
    .feed-length,
    .feed-meta-tag.post-tag {
        display: none;
    }
}
@media (max-width: 767px) {
    .post-feed.expanded:not(.text-only) .feed {
        flex-wrap: wrap;
    }
    .post-feed.expanded .feed-image {
        flex-basis: 100%;
        width: 100%;
        aspect-ratio: 5/3;
        margin-bottom: var(--space-l);
    }

}

/* Feed wrapper alignment */
.post-feed.right-thumbnail .feed-wrapper,
.post-feed.expanded .feed-wrapper {
    align-items: normal;
}