/* Overwrite style of native Ghost elements */
.kg-layout-split .kg-header-card-content {
    grid-template-columns: 38% 62% !important;
}

.kg-header-card.kg-width-full.kg-layout-split h2.kg-header-card-heading, 
.kg-signup-card.kg-width-full.kg-layout-split h2.kg-signup-card-heading {
    font-size: var(--size-step-4) !important;
    line-height: 1.2;
}

.kg-header-card.kg-width-full.kg-layout-split .kg-header-card-subheading, 
.kg-header-card.kg-width-wide .kg-header-card-subheading {
    font-size: var(--size-step-00) !important;
    line-height: 1.4;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 2px !important;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 2px 0 0 !important;
}

@media (max-width: 640px) {
    .kg-layout-split .kg-header-card-content {
        grid-template-columns: 1fr !important;;
    }
}

.tag-hash-content-experience {
    padding: 0 0 2rem 0;
}
.tag-hash-content-experience .feed-title {
    font-size: var(--size-step-min-1);
    font-weight: normal;
}
.tag-hash-content-experience .sub-heading {
    font-size: var(--size-step-min-2);
}
.tag-hash-content-experience .feed-right {
  display: flex;
  align-items: center;
  height: 100%;
  color: inherit;
}

/* Bookmark cards */
.kg-bookmark-card a.kg-bookmark-container {
    border: 1px solid rgba(124, 139, 154, 0.5);
}

.kg-bookmark-card a.kg-bookmark-container:hover {
    border: 1px solid var(--ghost-accent-color);
    box-shadow: 0 0 10px #3120aa25;
}

.kg-bookmark-card a.kg-bookmark-container:hover .kg-bookmark-title {
    text-decoration: underline;
    color: var(--ghost-accent-color);
}

.kg-bookmark-card a.kg-bookmark-container:hover:active * {
    color: #fff !important;
    opacity: 1;
}

.kg-bookmark-card a.kg-bookmark-container:hover .kg-bookmark-description,
.kg-bookmark-card a.kg-bookmark-container:hover .kg-bookmark-author {
    color: var(--primary-text-color);
}

.kg-bookmark-publisher {
    display: none;
}

.kg-bookmark-card .kg-bookmark-thumbnail img {
    background: var(--input-background-color);
}

/* Wide image borders */
.kg-card.kg-image-card.kg-width-wide.border {
    border: 1px solid rgba(124, 139, 154, 0.5);
    line-height: 0;
}