/* .related-wrapper {
    margin-top: 6rem;
} */

.related-content {
    border-top: 2px solid var(--primary-text-color);
    padding: var(--space-xl) 0 var(--space-l);
}

.related-title {
    margin-bottom: var(--space-l);
    color: var(--tertiary-text-color);
}

.comment-title {
    color: var(--tertiary-text-color);
}

.has-serif-title .related-title  {
    font-family: var(--font-display);
}