.share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .8rem;
}

.share-label {
    writing-mode: vertical-lr;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.social {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.share-link,
.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 0.04rem;
    transition: all .15s var(--ease-in-out-quad);
    border-radius: 50%;
    background-color: var(--divider-color);
}
.share-link {
    width: 3.2rem;
    height: 3.2rem;
}
.social-item {
    width: 4rem;
    height: 4rem;
}

.share-link:hover,
.social-item:hover {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: var(--white-color);
}

.share-link:hover .icon,
.social-item:hover .icon {
    fill: var(--white-color);
}

.has-serif-body .share-link {
    font-family: var(--font-serif);
}

.share-link .icon,
.social-item .icon {
    width: 18px;
    height: 18px;
    fill: var(--primary-text-color);
    transition: fill .15s var(--ease-in-out-quad);
}

.social-item .icon {
    width: 24px;
    height: 24px;
}

.share-link-label {
    width: auto;
    border-radius: 5px;
    padding: 4px 16px;
}

.share-link-label .icon {
    margin-right: 8px;
}

@media (max-width: 767px) {
    .share {
        flex-direction: row;
        width: auto;
        justify-content: center;
        gap: 1.6rem;
    }
    .share-link {
        width: 4.4rem;
        height: 4.4rem;
    }
    .share-label {
        writing-mode: horizontal-tb;
        margin: 0 .8rem;
    }

    .gh-content .right-sidebar-container-post {
        display: none;
    }

}