
.tag-hash-long-form .single-content h2,
.tag-hash-long-form .single-content h3 {
  font-family: var(--font-serif);
  font-size:2.8rem;
  line-height:1.4;
  /* text-wrap:balance; */
  text-wrap:pretty;
}  
.tag-hash-long-form .single-content h3 {
  font-size: 1.9rem;
}


/* Serif font for long-form posts?
blockquote.kg-blockquote-alt */
.tag-hash-long-form .single-content p,
.tag-hash-long-form .single-content p+ol li,
.tag-hash-long-form .single-content blockquote {
  font-family: var(--font-long-form);
}
/*  */
.tag-hash-long-form .single-content blockquote,
.tag-hash-long-form .single-content p,
.tag-hash-long-form .single-content li {
  font-size: 1.6rem;
}
/* Blockquote Alt - blockquote.kg-blockquote-alt */
.tag-hash-long-form .single-content blockquote.kg-blockquote-alt {
  font-size: clamp(2.4rem,3vw,2.8rem);
  font-weight: normal;
  line-height: 1.55;
  grid-column: wide-start/wide-end;
}


/* Reading time */
.reading-progress {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 5px; /* Progress bar height */
    background: rgba(31,0,255,.2); /* Progress bar background color */
    border:none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; /* Hide default progress bar */
  }
  .reading-progress::-moz-progress-bar { 
    background-color: var(--ghost-accent-color); 
  }
  .reading-progress::-webkit-progress-bar {
    background-color: var(--ghost-accent-color);
  }
  .reading-progress::-webkit-progress-value {
    background-color: var(--ghost-accent-color); /* Progress bar color */
  }
  
/* Drop cap  */
article.tag-hash-long-form p.dropcap:first-letter {
    font-size: 6.25rem;
    float: left;
    line-height: .6; /* from 1 */
    margin-right: 0.05em;
    margin-top:.8rem;
}

/* Asides */
.tag-hash-long-form .single-content .kg-card .kg-callout-text {
    font-size: 1.4rem;
    line-height:1.7;
}

