.taxonomy {
    margin-bottom: calc(var(--space-3xl) - var(--space-2xl));
}

.taxonomy-media {
    overflow: hidden;
    margin: 0 0 var(--space-xl);
    width: 200px;
}

.taxonomy-media-small {
    width: 4rem;
    margin-right: var(--space-s);
    margin-left: calc(-1 * var(--space-s));
}

.tag-list-container {
    margin-top: var(--space-2xl);
    padding-top: var(--space-3xl);
    font-weight: var(--font-regular);
    font-size: var(--size-step-2);
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: .2rem;
    row-gap: .2rem;
}

.tag-list-label {
    margin-bottom: var(--space-m);
    color: var(--secondary-text-color);
}

.tag-list-item-wrapper {
    padding: var(--space-s) var(--space-l);
    background-color: var(--input-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5.6rem;
}

.tag-list-item-wrapper:hover {
    background-color: var(--light-gray-color);
}

.tag-list-item {
    display: block;
}

.has-serif-body .tag-list-item {
    font-family: var(--font-display);
}

.tag-list-item-count {
    display: contents;
}

.tag-list-item + .tag-list-item {
    margin-left: var(--space-s);
}

@media (max-width: 767px) {
    .tag-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}